<%- include ('partials/header.ejs') %>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <h1 style="color: white;">Histórias de Usuário</h1>
            <hr>
            <a href="/criar_historia" class="btn btn-primary">Crie a sua aqui</a>
            <hr>
        </div>
    </body>
<%- include ('partials/footer.ejs') %>      